@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@700&family=Roboto:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Roboto", sans-serif;
  
}



body {
  background-color: #f9f9f9;
}
header {
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px 0px #000000;
  position: sticky;
  top: 0;
  background-color: #ffff;
  animation: fallFromAbove 0.7s ease-in-out forwards;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 3.5em;
  
}
nav ul li{
  transition: transform 0.5s ease;
  
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}

.active {
  color: #1d2b4f;
}

.container {
  display: flex;
  height: 50vh;
  align-items: center;
  gap: 4em;
  margin-left: 19%;
  margin-right: 19%;
  margin-top: 3%;
}

.textsLeft {
  display: flex;
  flex-direction: column;
}
.textsLeft p {
  font-size: 13px;
  animation: fallFromAbove 1s ease-in-out forwards;
}


.textsLeft h2 {
  font-size: 60px;
  font-weight: bold;
  animation: fallFromAbove 1.2s ease-in-out forwards;
  transition: transform 0.3s ease-in-out;

}

.textRight {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2%;

}

.textRight p{
  animation: fallFromAbove 1.3s ease-in-out forwards;
 
}


.flexLineText {
  display: flex;
  position: relative;
  gap: 0.4rem;
  align-items: center;
}
hr {
  border-top: 3px solid;
  width: 35px;
  color: #1d2b4f;
}

span {
  color: #1d2b4f;
  font-weight: bold;
}

.arrow {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  margin-right: 3%;
  animation: fallFromAbove 1.4s ease-in-out forwards;
}



nav ul li:hover{
  transform: translate(10px,-10px);
  -webkit-transform: translate(10px,-10px);
  -moz-transform: translate(10px,-10px);
  color: #1d2b4f;
  box-shadow: 0px 2px 5px rgba(60, 60, 60, 0.1);

}

nav ul li a:hover{
  color: #1d2b4f;
  

}

.textsLeft h2:hover{
  color: #1d2b4f;
  

}


@keyframes fallFromAbove {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

